/wetterstation-ui/target/*
/wetterstation-rpico-ui/target/*
/slint-pico/target/*
**.vscode
/externalSensor_msp/Debug/*
pcbs/InternalPCBV2/~InternalPCBV2.kicad_sch.lck
pcbs/InternalPCBV2/InternalPCBV2-backups/*
pcbs/InternalPCB/InternalPCB-backups/*
pcbs/InternalPCBV2/\#auto_saved_files\#
pcbs/InternalPCB/~InternalPCB.kicad_pcb.lck
pcbs/InternalPCBV2/_autosave-InternalPCBV2.kicad_sch
pcbs/InternalPCBV2/sym-lib-table
pcbs/InternalPCB/~InternalPCB.kicad_sch.lck
